---
 const personalImageAlt = "Cesar Torres"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Cesar Ivan Torres pero mis amigos me llaman César. Empecé en la
      programación con un amigo, tenía 20 años y desde entonces me encanta el mundo de la programación. Actualmente estoy <strong
        >en un equipo de desarrollo en la Empresa ENCOM S.A.</strong
      >
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >desarrollar con la empresa ENCOM, la primera app para el Mercado 4</strong
      >.
      Fue todo un desafío para mi poder terminar el proyecto con los requerimientos de la empresa.
    </p>

    <p>
      Como persona me gusta ser sociable, <strong
        >salir con los amigos, <em class="italic">pero más me encanta el Futbol</em> y jugar videojuegos</strong
      >. Un objetivo principal es mejorar mis habilidades como programador y desarrollar muchos proyectos importantes que impacten a la sociedad.
    </p>
  </div>

  <img width="200" height="200" src="/me.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>


